{%include "header.html"%}
<style>
    .card{
        width: 100% !important;
    }
</style>

<!-- Hero Section Start -->
    <div class="jumbotron text-center text-white py-5">
        <h1 class="display-4" style="font-weight: bold; font-size: 4rem">Fly Dream Air</h1>
        <p class="lead" style="text-align: center; padding-top: 20px;">Experience the Best in Domestic Travel</p>
    </div>
<!-- Hero Section End -->

<div class="container my-5 option" style="margin-bottom: 12rem !important;">
    <!-- Introduction Start -->
    <div class="row" style="margin: 0; !important;">
        <div class="col-lg-8 mx-auto" style="padding: 2rem; !important;">
            <h2 class="mb-4" style="padding-top: 40px; color: white">Welcome to the Future of Domestic Travel</h2>
            <p class="lead">Fly Dream Air is Australia's premier domestic airline, dedicated to providing an unparalleled travel experience. From our exceptional in-flight service to our exclusive airport lounges, we always put the passenger first. Whether you're travelling for business or pleasure, or you need to jet between cities regularly, be sure to make your booking with us.</p>
        </div>
    </div>

    <!-- Call to Action Section -->
    <section class="call-to-action py-5">
        <div class="container text-center">
            <h2 class="font-weight-light" style="color: #EDEAD0;">Ready to take off with us?</h2>
            <p class="lead" style="padding-top: 20px; text-align: center">Choose your preferred flight package from the options below.</p>
        </div>
    </section>
    <div class="container my-4" STYLE="padding-left: 0; padding-right: 0">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div id="Basic">
                <div class="card-body">
                    <h2 class="card-title">Basic</h2>
                    <p class="pricing">Free</p>
                    <hr>
                    <ul class="features">
                        <li>Standard pricing on flights & lounges</li>
                        <li>No discount on restaurants</li>
                    </ul>
                    <a href="/signup/0" class="btn btn-primary card_button">Buy Now</a>
                </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div id="Voyager">
                <div class="card-body">
                    <h2 class="card-title">Voyager</h2>
                    <p class="pricing">$39<span class="small">/per month</span></p>
                    <hr>
                    <ul class="features">
                        <li>20% discount on flights & lounges</li>
                        <li>10% discount on restaurants</li>

                    </ul>
                    <a href="/signup/1" class="btn btn-primary card_button">Buy Now</a>
                </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div id="Aviator">
                <div class="card-body">
                    <h2 class="card-title">Aviator</h2>
                    <p class="pricing">$60<span class="small">/per month</span></p>
                    <hr>
                    <ul class="features">
                        <li>50% discount on flights & lounges</li>
                        <li>20% discount on restaurants</li>
                    </ul>
                    <a href="/signup/2" class="btn btn-primary card_button">Buy Now</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{%include "footer.html"%}